@model MVCReviewSite.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />

            @Html.DisplayNameFor(model => model.Category.CategoryName): @Html.DisplayFor(model => model.Category.CategoryName)

            @Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)

            @Html.DisplayNameFor(model => model.Content): @Html.DisplayFor(model => model.Content)

            @Html.DisplayNameFor(model => model.PublishDate): @Html.DisplayFor(model => model.PublishDate)

            @Html.DisplayNameFor(model => model.Score): @Html.DisplayFor(model => model.Score)

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
