@model MVCReviewSite.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />

    @*Display for details page*@
    <p>@Html.DisplayNameFor(model => model.Category.CategoryName): @Html.DisplayFor(model => model.Category.CategoryName)</p>

    <p>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</p>

    <p>@Html.DisplayNameFor(model => model.DeviceReview): @Html.DisplayFor(model => model.DeviceReview)</p>

    <p>@Html.DisplayNameFor(model => model.ReleaseDate): @Html.DisplayFor(model => model.ReleaseDate)</p>

    <p>@Html.DisplayNameFor(model => model.Score): @Html.DisplayFor(model => model.Score)</p>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>